# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.env
.env

# Node
node_modules/
dist/
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.override.yml

# DB
*.sqlite3
